<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="style" href="./stylesheets/style.css">
  <title>URLshortener</title>
</head>

<body>
  {{{body}}}

  </div>
</body>

</html>