<h1>URL Shortener</h1>
<img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
<form class="d-flex" action="/shorten" method="POST">
  <input class="form-control me-2" name="url" type="url" placeholder="Type URL here" aria-label="Url" required>
  <button class="btn btn-outline-success" type="submit">shorten</button>
</form>